<%= full_path.present? ? full_path.map(&:name).join(path_separator) : t('no_path_assigned') %>
<% full_path.each do |level| %>
    <input type="hidden" name="levels[]" class="archided-levels" value="<%= level.fond_ref_prefix %> <%= level.position %>">
    <input type="hidden" name="tlevels[]" class="archided-tlevels" value="<%= level.fond_type %>">
<% end %>
